.inputbox input{
    position: absolute;
    left: -138px;
    height: 20px;
    top:-48px;
    width: 347px;
}
.fa-solid.fa-plus{
    font-size: 17px;
    position: absolute;
    top: -22px;
    left: -7px;
}
.delete i{
    position: absolute;
    left: 52.5%;
    top: 114px;
    font-size: 30px
}
.display{
    left: 7%;
    top: 22%;
    width: 893px;
    height: 542px;
    font-size: 12px;
    padding: 10px;
}